@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Tutor</h1>
    <p class="lead">Tutoring for any subject and level of learning.</p>
    <p><a href="https://localhost:44325/Tutor" class="btn btn-primary btn-lg">Find A Tutor &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        </div>